// 添加背景图片
body {
      background: url(/uploads/background.jpg);//自己喜欢的图片地址
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: 50% 50%;
}

//文章边框阴影
//.post {
//   margin-top: 60px;
//   margin-bottom: 60px;
//   padding: 25px;
//   -webkit-box-shadow: 0 0 25px rgba(202, 203, 203, .5);
//   -moz-box-shadow: 0 0 25px rgba(202, 203, 204, .5);
//}




.post-block {
    background: rgba(255,255,255,0.7) none repeat scroll !important;
}


//文章样式
.post-body {

    //宽屏模式下字体太大了，改回mediun   
    +desktop-large() {
        font-size: $font-size-medium;
    }

    //文章内用H2做一级标题，加下横线  
    h2 {
        border-bottom: 1px solid #eee;
        padding-bottom: 10px;
    }
    
    //文章内用H3做二级标题，加大字号  
    h3 {
        font-size: 1.2em;
    }

    //文章图片说明
    .image-caption {
        font-size: 0.5em;
        font-weight: normal;
        margin: -10px auto 15px
    }
}





// 修改菜单栏透明度
.header-inner {
    background: rgba(230,230,230,0.9) none repeat scroll !important;
    z-index: 9999;
}


// Custom styles.
code {
    color: #ff7600;
    background: #fbf7f8;
    margin: 2px;
}

// 大代码块的自定义样式
.highlight, pre {
    margin: 5px 0;
    padding: 5px;
    border-radius: 3px;
}
.highlight, code, pre {
    border: 1px solid #d6d6d6;
}

//侧边栏头像及站点概览等透明度
.sidebar-inner {
  background: rgba(255,255,255,0.7) none repeat scroll !important;
  }

//评论区透明度
.comments {
    background: rgba(255,255,255,0.7) none repeat scroll !important;
}



//文章内图片样式
.post-body img {
    border: 1px solid #ddd;
    box-sizing: border-box;
    padding: 0px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px 0px #ddd;
}



//版权声明样式
.post-copyright ul{
    background: rgba(230,230,230,0.7) none repeat scroll !important;
}


//底部上下篇导航留空
.post-nav-item {
    padding: 10px 0px 10px 0px
}
