// 圆角设置
$border-radius-inner     = 20px 20px 20px 20px;
$border-radius           = 20px;

// Font size
$font-size-base           = 18px    //修改以前是14，我改成了16
$font-size-small          = $font-size-base - 2px
$font-size-smaller        = $font-size-base - 4px
$font-size-large          = $font-size-base + 2px
$font-size-larger         = $font-size-base + 4px

// Headings font size
$font-size-headings-step    = 2px
$font-size-headings-base    = 26px  //这个是标题大小，如果你觉得不满意，可以改的更大一点